# Ignore build files
/build/
/bin/
/obj/
/out/

# Ignore compiled files
*.o
*.a
*.so
*.exe

# Ignore any file with no extension (typical executables)
*.
*/


# Ignore editor-specific files (for VSCode)
.vscode/
